<h1>Listing services</h1>

<table>
  <tr>
    <th>Phone number</th>
    <th>Address</th>
    <th>Image url</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.phone_number %></td>
    <td><%= service.address %></td>
    <td><%= service.image_url %></td>
    <td><%= service.name %></td>
    <td><%= link_to 'Show', [@wedding, service] %></td>
    <td><%= link_to 'Edit', edit_wedding_service_path(@wedding, service) %></td>
    <td><%= link_to 'Destroy', [@wedding, service], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_wedding_service_path %>
