<ul>
  <% @services.each do |service| %>
    <li>
      <div>
        <h3><%= service.name %></h3>
        <%= image_tag service.front_picture, :class => 'front_picture' %>
        <div class="price"><%= service.price %></div>
        <div class='galery'>
          <% service.pictures_url_array.each do |picture_url| %>
            <%= image_tag picture_url %>
          <% end %>
        </div>
        <div class="more">
          <div class="address"><%= service.address %></div>
          <div class="description"><%= service.description %></div>
        </div>
      </div>
    </li>
  <% end %>
</ul>