<% content_for :css do %>
  <% if is_mobile? %>
    <%= stylesheet_link_tag 'login-mobile' %>  
  <% else %>
    <%= stylesheet_link_tag 'login' %>  
  <% end %>
<% end %>
<div id="login_logo"><h1>Weddingz</h1></div>
<div id="login_view" class="block">
  <div class="centered">
    <h2>Identifiez-vous</h2>
    
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.text_field :username, { :placeholder => 'Identifiant'} %></div>
    
      <div><%= f.password_field :password, { :placeholder => 'Mot de passe'} %></div>

    
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Se souvenir de moi' %></div>
      <% end -%>
    
      <div><%= f.submit "Se connecter" %></div>
    <% end %>
    
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>