= form_for(@wedding) do |f|
  - if @wedding.errors.any? 
    #error_explanation
    %h2= pluralize(@wedding.errors.count, "error")  prohibited this wedding from being saved:
    %ul
      - @wedding.errors.full_messages.each do |msg| 
      %li = msg 

  .field
    = f.label :budget 
    %br/
    = f.text_field :budget 
  .field
    = f.label :place 
    %br/
    = f.text_field :place 
  .field
    = f.label :nb_person 
    %br/
    = f.text_field :nb_person 
  .field
    = f.label :nb_child 
    %br/
    = f.text_field :nb_child 
  .field
    = f.label :organizer_id 
    %br/
    = f.text_field :organizer_id 
  .field
    = f.label :client_id 
    %br/
    = f.text_field :client_id 
  .actions
    = f.submit 
