<h1>Listing weddings</h1>

<table>
  <tr>
    <th>Budget</th>
    <th>Place</th>
    <th>Nb person</th>
    <th>Nb child</th>
    <th>Organizer</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weddings.each do |wedding| %>
  <tr>
    <td><%= wedding.budget %></td>
    <td><%= wedding.place %></td>
    <td><%= wedding.nb_person %></td>
    <td><%= wedding.nb_child %></td>
    <td><%= wedding.organizer_id %></td>
    <td><%= wedding.client_id %></td>
    <td><%= link_to 'Show', wedding %></td>
    <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
    <td><%= link_to 'Destroy', wedding, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wedding', new_wedding_path %>
