<% content_for :css do %>
  <%= stylesheet_link_tag 'services' %>
  <%= stylesheet_link_tag 'weddings' %>
<% end %>

<script type="text/javascript">
  wedding_id = <%= @wedding.id %>
</script>
<h1><%= "#{@wedding.bride_first_name} et #{@wedding.groom_first_name}" %></h1>
<div id="wrapper">
  <% if is_mobile? %>
    <%= select("service", "service_type", @services_types_wedding.collect{|c| [c.service_type.name, c.service_type.id ]}) %>
  <% else %>
    <div id="left">
      <div>
      <ul class="services">
        <% @services_types_wedding.each do |service_type_wedding| %>
          <li class="<%= service_type_wedding.service_type.id == @service_type_id ? 'selected' : '' %>" data-service-type-id="<%= service_type_wedding.service_type.id %>">
            <!--<%= image_tag service_type_wedding.service_type.image_url %> --><%= service_type_wedding.service_type.name %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>
  <div id="content">
    <h2>Services pré-sélectionnés</h2>
    <ul class="activated_services">
      <% if @activated_services.empty? %>
        <li class="no_data">Aucun service pré-séléctionné</li>
      <% else %>
          <% @activated_services.each do |serv| %>
            <li data-id="<%= serv.id %>">
            <div class="togglable">
              <div class="top">
                <h3><%= serv.name %></h3>
                <button class="no_button" data-action="activate" data-value="false">Mettre de côté</button>
              </div>
              <div class="middle">
                  <img class="front_picture" src="<%= serv.front_picture %>" />
                  <div class="summary"><%= serv.summary %></div>
              </div>          
              <div class="toggler_content">
                <div class="slideshow">
                  <div class="slidesContainer">
                  <% serv.pictures_url.split(';').each do |pic| %>
                    <div class="slide"><img src="<%= pic %>" /></div>
                  <% end %>
                  </div>
                </div>
                <div class="more">
                    <div class="price"><%= serv.price %></div>
                  <div class="address"><%= serv.address %></div>
                  <div class="description"><%= serv.description %></div>
                </div>
              </div>
              <div class="click_toggler more_info"></div>
            </div>
        </li>
          <% end %>
        <% end %>
    </ul>
    <h2>Services mis de côtés</h2>
     <ul class="disabled_services">
      <% if @disabled_services.empty? %>
        <li class="no_data">Aucun service mis de de côté</li>
      <% else %>
          <% @disabled_services.each do |serv| %>
            <li data-id="<%= serv.id %>"><div class="togglable">
              <div class="top">
                <h3><%= serv.name %></h3>
                <button class="no_button" data-action="activate" data-value="true">Activer</button>
              </div>
              <div class="middle">
                  <img class="front_picture" src="<%= serv.front_picture %>" />
                  <div class="summary"><%= serv.summary %></div>
              </div>
              <div class="toggler_content">
                <div class="slideshow">
                  <div class="slidesContainer">
                  <% serv.pictures_url.split(';').each do |pic| %>
                    <div class="slide"><img src="<%= pic %>" /></div>
                  <% end %>
                  </div>
                </div>
                <div class="more">
                    <div class="price"><%= serv.price %></div>
                  <div class="address"><%= serv.address %></div>
                  <div class="description"><%= serv.description %></div>
                </div>
              </div>
              <div class="click_toggler more_info"></div>
            </div>
            </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>

<script id="service_template" type="text/x-handlebars-template">
  <li data-id="{{id}}">
  <div class="togglable">
    <div class="top">
      <h3>{{name}}</h3>
      <button class="no_button" data-action="activate" data-value ="false">Mettre de côté</button>
    </div>
    <div class="middle">
        <img class="front_picture" src="{{front_picture}}" />
        <div class="summary">{{summary}}</div>
    </div>
    <div class="toggler_content">
      <div class="slideshow">
        <div class="slidesContainer">
          {{#each pictures_url}}
            <div class="slide"><img src="{{this}}" /></div>
          {{/each}}
        </div>
      </div>
      <div class="more">
          <div class="price">{{price}}</div>
        <div class="address">{{address}}</div>
        <div class="description">{{description}}</div>
      </div>
    </div>
    <div class="click_toggler more_info"></div>
  </div>
  </li>
</script>

<script id="service_template_disable" type="text/x-handlebars-template">
  <li data-id="{{id}}">
  <div class="togglable">
    <div class="top">
      <h3>{{name}}</h3>
      <button class="no_button" data-action="activate" data-value ="true">Activer</button>
    </div>
    <div class="middle">
        <img class="front_picture" src="{{front_picture}}" />
        <div class="summary">{{summary}}</div>
    </div>
    <div class="toggler_content">
      <div class="slideshow">
        <div class="slidesContainer">
          {{#each pictures_url}}
            <div class="slide"><img src="{{this}}" /></div>
          {{/each}}
        </div>
      </div>
      <div class="more">
          <div class="price">{{price}}</div>
        <div class="address">{{address}}</div>
        <div class="description">{{description}}</div>
      </div>
    </div>
    <div class="click_toggler more_info"></div>
  </div>
  </li>
</script>

<script type="text/javascript">
        $('.togglable .click_toggler').click(function () {
            $(this).closest('.togglable').toggleClass('open');
        });
</script>


<script type="text/javascript">
$(document).ready(function(){
   $('.slidesContainer').css('overflow', 'hidden');

  $('.slideshow').each(function() {
      var slideshow = this;
    	//Configuration
		  var retour = true;
		  var tempsTransition = 1000;
	  	var tempsAttente = 6000;
			
		  var currentPosition = 0;
		  var slideWidth = 510;
		  var slides = $(slideshow).find('.slide');
		  var numberOfSlides = slides.length;
		  var interval;
      
      // Supprime la scrollbar en JS
    
      // Attribue  #slideInner  à toutes les div .slide
      slides.wrapAll('<div class="slideInner"></div>')
        // Float left to display horizontally, readjust .slides width
    	.css({
          'float' : 'left',
          'width' : slideWidth
        });
    
      // Longueur de #slideInner égale au total de la longueur de tous les slides
      $(slideshow).find('.slideInner').css('width', slideWidth * numberOfSlides);
    
      // Insert controls in the DOM
      $(slideshow).prepend('<span class="control leftControl">Précédent</span>')
                   .append('<span class="control rightControl">Suivant</span>');
    
    
      
      // Hide left arrow control on first load
      manageControls(currentPosition);
    
      //Crée un écouteur d'évènement de type clic sur les classes .control
      $(slideshow).find('.control').bind('click', function(){
        // Determine la nouvelle position
      	currentPosition = ($(this).hasClass('rightControl') ? currentPosition + 1 : currentPosition - 1);
          
      	if(currentPosition == numberOfSlides && retour == false ){
      		currentPosition--;
      		pause();
      	}  	
      	// Cache ou montre les controles
        manageControls(currentPosition);
        // Fais bouger le slide
        $(slideshow).find('.slideInner').animate({
          'marginLeft' : slideWidth*(-currentPosition)
        },tempsTransition);
      });
    
      // manageControls: Cache ou montre les flêches de controle en fonction de la position courante
      function manageControls(position){
        // Cache la fleche "précédent" si on est sur le premier slide
      	if(position==0){ $(slideshow).find('.leftControl').hide() } else{ $(slideshow).find('.leftControl').show() }
      	// Cache la fleche "suivant" si on est sur le dernier slide (et que le retour automatique n'est pas activé)
        if(position==numberOfSlides-1 && retour == false){
    	   	$(slideshow).find('.rightControl').hide();
      	} else {
      		$(slideshow).find('.rightControl').show();
      	}
        if(position == numberOfSlides && retour == true){
          currentPosition = 0;
    	 	  $(slideshow).find('.leftControl').hide();
    	  }
      }
      function suivant(){
      	$(slideshow).find('.rightControl').click();
    	}
  });

});
</script>